@mixin theme() {
  /*---------------------------Location---------------------------*/
  .location-container {
    position: relative;
    justify-items: center;
  }
  .location-container-middle {
    height: 400px;
    width: var(--width-location-container);
  }
  .location-container-top-bottom {
    display: flex;
    height: 200px;
    width: var(--width-location-container);
    div {
      flex: 1;
    }
    .left {
      border-bottom-left-radius: 100%;
    }

    .right {
      border-top-right-radius: 100%;
    }
  }

  .location-content-container {
    top: 0;
    height: 800px;
    max-width: 80%;
    position: absolute;
  }

  .extra-vertical-margin-location {
    margin-top: 18px;
    margin-bottom: 24px;
  }

  .local-image {
    margin-top: 16px;
    width: 300px;
    height: 300px;
    border: 1px solid var(--color-white);
  }

  @media (max-width: 912px) {
    .location-container-middle {
      width: 90vw;
    }
    .extra-vertical-margin-location {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    .location-container-top-bottom {
      width: 90vw;
      height: 15vh;
    }
    .location-content-container{
      height: calc((15vh * 2) + 400px);
    }
    .local-image {
      margin-top: 8px;
      width: 250px;
      height: 250px;
    }
  }

  @media (max-height: 765px) {
    .extra-vertical-margin-location {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
