@mixin theme() {
  /*---------------------------Itinerary---------------------------*/

  .suggestion-oval-container {
    height: 650px;
    width: 90%;
    max-width: 400px;
    border-radius: 325px;
    position: relative;
    > div {
      height: 650px;
      // align-self: anchor-center;
      position: absolute;
    }
  }
  .suggestion-title{
    width: 5rem;
    display: flex;            /* allow centering inside */
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    .div{
      // padding: 0px 15px;
      // height: 100%;
      // width: 5rem;
       
      

    }

  }
  .content-suggestion {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin-right: 58px;
    margin-left: 12px;
  }

  @media (max-width: 912px) {
    .content-suggestion {
      gap: 2rem;
    }
  }
}
